
html body {
	background-color: white;
	/*background-color: rgba(27, 43, 44, 0.96);*/
}

#content {
	height: 70px;
	width: 200px;
	margin-top: -770px;
	margin-left: 50px;
	z-index: 1;
/*	background-color: rgba(207, 207, 216, 0.51);
	border-radius: 50%;*/
}

#scroll-links {
	background-color: rgba(70, 83, 82, 0.76);
	margin-top: 60px;
	margin-left: 10px;
	width: 200px;
	height: 360px;
	border-radius: 20px;
    position: fixed;

}

#scroll-links.past-map {
    background-color: white;
    color: black;
}

.sidebar {
	list-style-type: none;
}

.sidebar-list-item {
	margin-left: 35px;
}

.willy {
	margin-top: 20px;
	border-radius: 15px;
	border: 2px solid rgba(255, 255, 255, 0.76);
}

.projects {
	height: 1000px;
	width: 50%;
	margin: 700px auto;
	text-align: left;
	font-size: 20px;
	background-color: white;
	font-family: 'Alegreya Sans SC', sans-serif;

}

.about-me {
	padding-top: 20px;
	text-align: left;
}

.my-stuff {
	padding-top: 50px;
}

.small-font {
	font-size: 16px;
}

.cofc-logo {
	width: 19%;
	margin-right: 40px;
}

.ironhack-logo {
	width: 5%;
}


#map { 
	height: 800px; 
	width: 100%;
	z-index: -1;
/*	border-top: 5px solid black;
	border-bottom: 5px solid black;*/
}



body {
	height: 50px;
}

/*.hero-text {
	height: 30px;
	width: 800px;
	margin: 10px auto;
	color: rgba(27, 43, 44, 0.96);
	text-align: center;
	letter-spacing: 10px;
}
*/

.heading {
	background-color: rgba(70, 83, 82, 0.76);
	width: 100%;
	height: 210px;
	padding: 15px;
	text-align: center;
	font-size: 70px;
	font-family: 'Alegreya Sans SC', sans-serif;
	color: white;
	margin: -40px auto;
}

.me-sentence {
	
	font-size: 28px;
	font-family: 'Alegreya Sans SC', sans-serif;
	color: white;
}

.hero-name {
	font-size: 36px;
	width: 100%;
	font-family: 'Alegreya Sans SC', sans-serif;

}

.newyork {
	font-size: 28px;
	letter-spacing: 10px;
	color: rgba(249, 197, 113, 1);
	font-weight: bold;
}

.quote {
	font-size: 28px;
	letter-spacing: 10px;
}

.about-me-text {

}

.nav {
	display: inline;
}

.nav-pills {
	border-radius: 35px;
}

.list-item {

	margin-left: 14px;
	width: 20%;
	padding: 10px;
	text-align: center;
	background-color: rgba(207, 207, 216, 0.51);
	border-radius: 50%;
}

#github-img {
	width: 35%;
}

#linkedin-img {
	width: 35%;
}

#street-img {
	width: 30%;
}


a.link-content {
	border-radius: 50% !important;
	padding: 10px;
}

.logo-list {
	list-style-type: none;
	margin-left: -45px;
}
.logo-list-item {
	display: inline;
}

.project-technologies {
	font-weight: bold;

}

a.project-anchor {
	font-size: 20px;
	color: rgba(218, 233, 246, 1);

}



.bounce {
  position:fixed;
  left:50%;
  bottom:0;
  margin-top:-25px;
  margin-left:-40px;
  height:80px;
  width:80px;
  -webkit-animation:bounce 1s infinite;
}

@-webkit-keyframes bounce {
  0%       { bottom:5px; }
  25%, 75% { bottom:15px; }
  50%      { bottom:20px; }
  100%     {bottom:0;}
}

.pounce {
  position:fixed;
  left:50%;
  bottom:0;
  margin-top:-25px;
  margin-left:-40px;
  height:80px;
  width:80px;
  -webkit-animation:bounce 1s infinite;
}

@-webkit-keyframes bounce {
  0%       { bottom:5px; }
  25%, 75% { bottom:15px; }
  50%      { bottom:20px; }
  100%     {bottom:0;}
}

.founce {
  position:fixed;
  left:50%;
  bottom:0;
  margin-top:-25px;
  margin-left:-40px;
  height:80px;
  width:80px;
  -webkit-animation:bounce 1s infinite;
}

@-webkit-keyframes bounce {
  0%       { bottom:5px; }
  25%, 75% { bottom:15px; }
  50%      { bottom:20px; }
  100%     {bottom:0;}
}