
html body {
	
	/*background-color: rgba(27, 43, 44, 0.96);*/
}

.side-gallery {
	width: 300px;
	height: 800px;
/*	background-color: #ccc;
*/	float: right;
}

#content {
	height: 70px;
	width: 200px;
	margin-top: -770px;
	margin-left: 50px;
	z-index: 1;
/*	background-color: rgba(207, 207, 216, 0.51);
	border-radius: 50%;*/
}
.mobile-nav-container {
	width: 200px;
	height: 100px;
	margin: 0 auto;
	display: none;
}
.mobile-nav {
	list-style-type: none;
	margin-top: 3em;
	text-align: center;
}

.mobile-nav-item {
/*	display: inline;*/
	padding-left: 1em;
	font-size: 2em;
	margin-left: -2em;
}

#scroll-links {
	background-color: rgba(70, 83, 82, 0.76);
	margin-top: 60px;
	margin-left: 10px;
	width: 200px;
	height: 360px;
	border-radius: 20px;
    position: fixed;

}

#scroll-links.past-map {
    background-color: white;
    color: black;
    margin-top: -100px;
    border-radius: 0;
    border-right: 1px solid black;
}

.sidebar {
	list-style-type: none;
}

.sidebar-list-item {
	margin-left: 35px;
}

.willy {
	margin-top: 20px;
	border-radius: 15px;
	border: 2px solid rgba(255, 255, 255, 0.76);
	width: 130px;
	height: 120px;
}

.projects {
	height: 1000px;
	width: 55%;
	margin: 700px auto;
	text-align: left;
	font-size: 20px;
	background-color: white;
	font-family: 'Alegreya Sans SC', sans-serif;
}


.about-me {
	padding-top: 20px;
	text-align: left;
}

.about-me-text {
	margin-top: 100px;

}

.midsize {
	font-size: 30px;
	text-align: center;
}

.my-stuff {
	padding-top: 50px;
}

.small-font {
	font-size: 16px;
}

.cofc-logo {
	width: 19%;
	margin-right: 40px;
}

.ironhack-logo {
	width: 5%;
}


#map { 
	height: 800px; 
	width: 100%;
	z-index: -1;
}



body {
	height: 50px;
}

/*.hero-text {
	height: 30px;
	width: 800px;
	margin: 10px auto;
	color: rgba(27, 43, 44, 0.96);
	text-align: center;
	letter-spacing: 10px;
}
*/

.heading {
	background-color: rgba(70, 83, 82, 0.76);
	width: 100%;
	height: 210px;
	padding: 15px;
	text-align: center;
	font-size: 70px;
	font-family: 'Alegreya Sans SC', sans-serif;
	color: white;
	margin: -40px auto;
}

.me-sentence {
	
	font-size: 28px;
	font-family: 'Alegreya Sans SC', sans-serif;
	color: white;
}

.hero-name {
	font-size: 36px;
	width: 100%;
	font-family: 'Alegreya Sans SC', sans-serif;

}

.newyork {
	font-size: 28px;
	letter-spacing: 10px;
	color: rgba(249, 197, 113, 1);
	font-weight: bold;
}

.quote {
	font-size: 28px;
	letter-spacing: 10px;
}

.spacer-large {
	width: 400px;
	height: 400px;
}

.spacer-large-mobile {
	width: 400px;
	height: 400px;
	display: none;
}

.spacer-small {
	width: 400px;
	height: 150px;
}
.spacer-tiny {
	width: 400px;
	height: 100px;
}

.nav {
	display: inline;
}

.nav-pills {
	border-radius: 35px;
}

.list-item {

	margin-left: 14px;
	width: 20%;
	padding: 10px;
	text-align: center;
	background-color: rgba(207, 207, 216, 0.51);
	border-radius: 50%;
}

#github-img {
	width: 35%;
}

#linkedin-img {
	width: 35%;
}

#street-img {
	width: 30%;
}


a.link-content {
	border-radius: 50% !important;
	padding: 10px;
}

.logo-list {
	list-style-type: none;
	margin-left: -45px;
}
.logo-list-item {
	display: inline;
}

.project-technologies {
	font-weight: bold;

}

a.project-anchor {
	font-size: 20px;
	color: rgba(218, 233, 246, 1);

}



.wots-pic {
	width: 90%;
	border-radius: 5px;
	box-shadow: 10px 10px 5px #888888;
}

.thumbnail:hover {
    position:relative;
    top:-25px;
    left:-65px;
    width:400px;
    height:auto;
    display:block;
    z-index:999;
}

.wots-list {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

.wots-list-item {
	list-style-type: none;
	margin-bottom: 25px;
}

.wots-list-item .wots-pic {
	cursor: pointer;
}

.links-list {
	margin-top: 126px;
	list-style-type: none;
}
.links-list-item {
	display: inline;
	margin-right: 80px;
}

#project-button2 {
	font-size: 20px;
}
.ed-link-span {
	margin-left: 220px;
}

.mobile-spacer {
	width: 400px;
	height: 100px;
}

.mobile-newyork {
	display: none;
	font-size: 0.5em;
}

.mobile-link-item {
	font-size: 1.4em;
	display: inline;
}

.mobile-nav {
	display: none;
}


@media (max-width: 800px) {
  .heading {
    font-size: 46px;
    height: 150px;
  }
  .newyork {
  	display: none;
  }
  .quote {
  	display: none;
  }
	.projects {
		height: 1000px;
		width: 80%;
		margin-top: 700px;
		margin-left: 60px;
		text-align: left;
		font-size: 12px;
		background-color: white;
		font-family: 'Alegreya Sans SC', sans-serif;

	}

	.mobile-nav-container {
	width: 200px;
	height: 100px;
	margin: 0 auto;
	display: block;
	}

	#education-button {
		display: none;
	}

	#project-button {
		display: none;
	}

	#project-button2 {
		display: none;
	}

	#content {
		width: 375px;
	}
	.projects {
		width: 100%;
		margin-left: 0.5em;
	}

	#scroll-links {
		background-color: transparent;
		margin-top: 50px;
		margin-left: 90px;
		width: 120px;
		height: 360px;
		border-radius: 20px;
	    position: absolute;

	}
/*	.willy {
		width: 50%;
		height: 45%;

	}*/
	#ed-heading {
		padding-bottom: 40px;
	}

	.sidebar-list-item {
		width: 100%;
		padding-left: 0.8em;
	}
	.empireimg {
		display: none;
	}
	.cofc-logo {
		width: 40%;
		margin-right: 40px;
	}

	.ironhack-logo {
		width: 9%;
	}
/*	.side-gallery {
		display: none;
	}*/

	.pounce {
	  position:fixed;
	  left:50%;
	  bottom:0;
	  margin-top:-25px;
	  margin-left:-40px;
	  height:80px;
	  width:80px;
	  -webkit-animation:bounce 1s infinite;
	}

	@-webkit-keyframes bounce {
	  0%       { bottom:5px; }
	  25%, 75% { bottom:15px; }
	  50%      { bottom:20px; }
	  100%     {bottom:0;}
	}

	.bounce {
		display: none;
	}
/*	.pounce {
		display: none;
	}*/
	.founce {
		display: none;
	}
	.ounce {
		display: none;
	}
	.midsize {
		font-size: 2em;
	}

	.will-paragraph {
		font-size: 2em;
	}
	.wots-pic {
		width: 90%;
		border-radius: 2px;
		box-shadow: none;
	}
	.spacer-large {
		display: none;
	}
	.spacer-small {
		display: none;
	}
	#map {
		visibility: hidden;
	}

	.mobile-newyork {
		display: block;
	}
	.spacer-large-mobile{
		display: block;
	}
	.about-me-text {
	padding-top: 20px;

	}
	.logo-list {
		margin-left: 0.3em;
	}
	.mobile-nav {
		display: block;
	}


}

@media (max-height: 485px) {
	.mobile-newyork {
		display: none;
	}
	.willy {
		display: none;
	}
	.heading {
		height: 100px;
	}
	#scroll-links {
		background-color: transparent;
		margin-top: 20px;
		margin-left: 10px;
		width: 120px;
		height: 360px;
		border-radius: 20px;
	    position: absolute;

	}
	.sidebar-list-item {
		width: 100%;
		padding-left: 0.8em;
	}
	.sidebar {
		display: inline;
	}
	#map {
		visibility: hidden;
	}
}



.bounce {
  position:fixed;
  left:50%;
  bottom:0;
  margin-top:-25px;
  margin-left:-40px;
  height:80px;
  width:80px;
  -webkit-animation:bounce 1s infinite;
}

@-webkit-keyframes bounce {
  0%       { bottom:5px; }
  25%, 75% { bottom:15px; }
  50%      { bottom:20px; }
  100%     {bottom:0;}
}

.pounce {
  position:fixed;
  left:50%;
  bottom:0;
  margin-top:-25px;
  margin-left:-40px;
  height:80px;
  width:80px;
  -webkit-animation:bounce 1s infinite;
}

@-webkit-keyframes bounce {
  0%       { bottom:5px; }
  25%, 75% { bottom:15px; }
  50%      { bottom:20px; }
  100%     {bottom:0;}
}

.ounce {
  position:fixed;
  left:50%;
  bottom:0;
  margin-top:-25px;
  margin-left:-40px;
  height:80px;
  width:80px;
  -webkit-animation:bounce 1s infinite;
}

@-webkit-keyframes bounce {
  0%       { bottom:5px; }
  25%, 75% { bottom:15px; }
  50%      { bottom:20px; }
  100%     {bottom:0;}
}

.founce {
  position:fixed;
  left:50%;
  bottom:0;
  margin-top:-25px;
  margin-left:-40px;
  height:80px;
  width:80px;
  -webkit-animation:bounce 1s infinite;
}

@-webkit-keyframes bounce {
  0%       { bottom:5px; }
  25%, 75% { bottom:15px; }
  50%      { bottom:20px; }
  100%     {bottom:0;}
}